<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdmindInventory.My.MySettings.conString" connectionString="Data Source=nissqlsrv-01;Initial Catalog=Inventory;Persist Security Info=True;User ID=document;Password=as400_s10479fr"
            providerName="" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>